@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 120px 1fr 150px;
  grid-template-areas: "encabezado" "contenido" "pie_pagina";
}
body header {
  grid-area: encabezado;
  background-color: rgb(44, 44, 44);
  border-bottom: 2px solid black;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". titulo";
}
body header h1 {
  grid-area: titulo;
  text-align: center;
  align-self: center;
  font-size: 2.5rem;
  padding-left: 10px;
  color: rgb(95, 95, 95);
  text-shadow: 2px 2px 0px black;
  padding-right: 20px;
}
body header .menu_hamburguesa {
  width: 50px;
  height: 100;
  position: absolute;
  top: 6%;
  left: 15%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
body header .menu_hamburguesa span {
  display: block;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 5px;
  margin-top: 10px;
  transition: all 1s;
  transform-origin: 0px 100%;
}
body header .linea1_menu-activa {
  transform: rotate(45deg) translate(-4px, -2px);
}
body header .linea2_menu-activa {
  opacity: 0;
  margin-left: -40px;
}
body header .linea3_menu-activa {
  transform: rotate(-45deg) translate(0px, 2px);
}
body main {
  grid-area: contenido;
}
body footer {
  grid-area: pie_pagina;
  border-top: 2px solid black;
  background-color: rgb(44, 44, 44);
}

#index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-block: 15px;
}
#index .tarjeta_prod {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "titulo" "precio" " boton";
  background-color: rgb(101, 32, 158);
  border: 1px solid black;
  border-radius: 10px;
  margin-inline: 15px;
}
#index .tarjeta_prod h1 {
  grid-area: titulo;
  text-align: center;
}
#index .tarjeta_prod p {
  grid-area: precio;
  text-align: center;
}
#index .tarjeta_prod button {
  grid-area: boton;
  margin-inline: 35px;
}

.centrar, #trabajadores .Inicio_sesion form, #trabajadores .Inicio_sesion h2 {
  text-align: center;
  align-self: center;
  justify-self: center;
}

#trabajadores {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "." "centro" ".";
}
#trabajadores .oculto {
  display: none;
}
#trabajadores .Inicio_sesion {
  grid-area: centro;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "titulo" "form";
  background-color: rgba(113, 50, 150, 0.705);
  padding-block: 30px;
  border-block: 3px solid black;
}
#trabajadores .Inicio_sesion h2 {
  grid-area: titulo;
  font-size: 3rem;
}
#trabajadores .Inicio_sesion form {
  grid-area: form;
  display: grid;
  grid-template-rows: 1fr 1fr 50px;
  gap: 10px;
  grid-template-areas: "email" "contraseña" "boton";
}
#trabajadores .Inicio_sesion form p {
  font-size: 1.5rem;
}
#trabajadores .Inicio_sesion form #email-sesion {
  grid-area: email;
  height: 25px;
  border: 2px solid black;
  border-radius: 10px;
}
#trabajadores .Inicio_sesion form #contraseña-sesion {
  grid-area: contraseña;
  height: 25px;
  border: 2px solid black;
  border-radius: 10px;
}
#trabajadores .Inicio_sesion form #boton {
  grid-area: boton;
  width: 100px;
  height: 25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(71, 27, 88);
  color: white;
  justify-self: center;
  align-self: center;
}

/*# sourceMappingURL=styles.css.map */
