.centrar{
    text-align: center;
    align-self: center;
    justify-self: center;
}
.input{
    height: 25px;
    border: 2px solid black;
    border-radius: 10px;
    padding-inline: 10px;
}
.boton{
    width: 100px;
    height: 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(85, 85, 85);
    color:white;
    justify-self: center;
    align-self: center;
}

#trabajadores{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 150px;
    grid-template-areas: "." "centro" ".";


    .Inicio_sesion{
        grid-area: centro;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "titulo" "form";
        h2{
            grid-area: titulo;
            @extend .centrar;
            font-size: 3rem;
        }
        form{
            grid-area: form;
            display: grid;
            grid-template-rows: 1fr 1fr 50px;
            gap: 10px;
            grid-template-areas: "email" "contraseña" "boton";
            p{
                font-size: 1.5rem;
            }
            #email-sesion{
                grid-area: email;
                @extend .input
            }
            #contraseña-sesion{
                grid-area: contraseña;
                @extend .input
            }
            #boton-sesion{
                grid-area: boton;
                @extend .boton;
            }
            @extend .centrar;
        }
        background-color: silver;
        padding-block: 30px;
        border-block: 3px solid black;
    }
    .Inicio_sesion-oculto{
        display: none;
    }


    .Registrarse_oculto{
        display: none;
    }
    .Registrarse_activo{
        grid-area: centro;
        display: grid;
        grid-template-rows: 1fr 2fr ;
        grid-template-areas:"titulo" "form";
        
        
        h2{
            grid-area: titulo;
            font-size: 3rem;
            @extend .centrar;
        }
        form{
            @extend .centrar;
            grid-area: form;
            display: grid;
            gap: 10px;
            grid-template-rows: 1fr 1fr 1fr 1fr 50px;
            grid-template-areas: "nombre" "email" "dni" "contraseña" "boton";
            p{
                font-size: 1.5rem;
            }
            #nombre-registro{
                grid-area: nombre;
                @extend .input
            }
            #email-registro{
                grid-area: email;
                @extend .input
            }
            #DNI-registro{
                grid-area: dni;
                @extend .input
            }
            #contraseña-registro{
                grid-area: contraseña;
                @extend .input
            }
            #boton-registro{
                grid-area: boton;
                @extend .boton;
            }
        }
        background-color: silver;
        padding-block: 30px;
        border-block: 3px solid black;
        
    }

    .contenido_prod-oculto {
        display: none;
    }
    .contenido_prod-activo{
        grid-area: centro;
        display: grid;
        gap: 20px;
        grid-template-rows: 50px 1fr 5px 0.5fr;
        grid-template-areas: "titulo" "prod" "hr" "dnis";

        h2{
            grid: titulo;
            text-align: center;
            font-size: 1.9rem;
            padding-bottom: 60px;
        }

        #modificar_productos{
            grid-area: prod;
            @extend .centrar;
            display: grid;
            gap: 10px;
            grid-template-rows: 50px 1fr;
            grid-template-areas: "titulo" "form";
            h3{
                grid-area: titulo;
                font-size: 1.5rem;
                align-self:center;
                text-align: center;
            }
            form{
                grid-area: form;
                display: grid;
                grid-template-rows: repeat(4,1fr) 50px;
                gap: 15px;
                grid-template-areas: 
                "nombre"
                "precio"
                "imagen"
                "descripcion"
                "boton";
                p{
                    font-size: 1.2rem;
                    padding-bottom: 5px;
                }
                #nombre-prod{
                    grid-area: nombre;
                    @extend .input
                }
                #precio-prod{
                    grid-area: precio;
                    @extend .input
                }
                #imagen-prod{
                    grid-area: imagen;
                    @extend .input
                }
                #descripcion-prod{
                    grid-area: descripcion;
                    @extend .input
                }
                #boton-prod{
                    grid-area: boton;
                    @extend .boton;
                }
            }
        }

        hr{
            grid-area: hr;
        }

        #subida_dnis{
            grid-area: dnis;
            display: grid;
            grid-template-rows: 50px 1fr;
            grid-template-areas: "titulo" "contenido";
            h3{
                grid-area: titulo;
                font-size: 1.5rem;
                align-self:center;
                text-align: center;
            }
            form{
                grid-area: contenido;
                display: grid;
                @extend .centrar;
                grid-template-rows: 1fr 1fr 50px;
                grid-template-areas: "nombre" "dni" "boton";
                p{
                    font-size: 1.2rem;
                    padding-bottom: 5px;
                }
                #nombre-dni{
                    grid-area: nombre;
                    @extend .input
                }
                #numero-dni{
                    grid-area: dni;
                    @extend .input
                }
                #boton-dni{
                    grid-area: boton;
                    @extend .boton;
                }
            }
        }
        background-color: gainsboro;
        padding: 20px;
        border-block: 2px solid black;
    }




}
